<h1>Words and Definitions!</h1>
<p>
  You can either see the list of words or add a new word to the list.
</p>
<h3><a href="/words">List of words</a></h3>
<h3><a href="/words/new">Add a new word</a></h3>
