<!DOCTYPE html>
<html>
  <head>
    <title>Words and Definitions</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Words & Definitions</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
