<h1>Add a new word</h1>
<form action="/words" method="post">
  <label for="word">Word:</label>
  <input type="text" id="word" name="word" required="">
  <button type="submit" name="button">Add</button>
</form>

<p>
  <a href="/words">Back to List of Words</a>
</p>
